body {
	background-color: #EBEBEB;
}

ul.opcao-top li {
	display: inline;
	padding: 2%;
	border-color: gray;
	border-style: solid;
	border-width: 1px;
}

.mesmo-tamanho {
	width: 100%;
	white-space: normal;
}

#brasil {
	float: left;
	padding-right: 5px;
	height: 20px;
}

.corpo {
	padding-left: 10%;
	padding-right: 10%;
}

hr {
	background-color: green;
	height: 2px;
}

.linhaBaixo, .acesso hr {
	height: 1px;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: darkgray;
}

.bandeira {
	background-color: #33A96A;
	padding-top: 8px;
	padding-bottom: 8px;
}

.navbar-brand {
	font-size: 15px;
	margin-right: 5px;
}

.campus {
	padding: -10px;
}